name: Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 22
          cache: 'gradle'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Build with Gradle
        run: ./gradlew buildAll --no-daemon
        env:
          DISCORDSRV_AUTOTEST_BOT_TOKEN: ${{ secrets.DISCORDSRV_AUTOTEST_BOT_TOKEN }}
          DISCORDSRV_AUTOTEST_TEXT_ID: ${{ secrets.DISCORDSRV_AUTOTEST_TEXT_ID }}
          DISCORDSRV_AUTOTEST_NEWS_ID: ${{ secrets.DISCORDSRV_AUTOTEST_NEWS_ID }}
          DISCORDSRV_AUTOTEST_FORUM_ID: ${{ secrets.DISCORDSRV_AUTOTEST_FORUM_ID }}
          DISCORDSRV_AUTOTEST_VOICE_ID: ${{ secrets.DISCORDSRV_AUTOTEST_VOICE_ID }}
          DISCORDSRV_AUTOTEST_MEDIA_ID: ${{ secrets.DISCORDSRV_AUTOTEST_MEDIA_ID }}
          DISCORDSRV_AUTOTEST_STAGE_ID: ${{ secrets.DISCORDSRV_AUTOTEST_STAGE_ID }}
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: "jars/*.jar"
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v4