name: Crowdin translation upload

on:
  push:
    branches: [main]

jobs:
  synchronize-with-crowdin:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 22
          cache: 'gradle'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Build i18n application
        run: "./gradlew i18n:build"
      - name: Generate translation source
        run: "java -jar i18n/build/libs/i18n-all.jar"
      - name: Upload source to Crowdin
        uses: crowdin/github-action@v2
        with:
          upload_sources: true
          upload_translations: false
          download_sources: false
          download_translations: false

          project_id: ${{ secrets.CROWDIN_PROJECT_ID }}
          token: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
          source: "i18n/build/source.json"
          translation: "/i18n/src/main/resources/translations/%two_letters_code%.%file_extension%"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
